* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, html {
    --primaryGradient: #EDDCD9;
    --secondaryGradient: linear-gradient(268.91deg, #E99F4C -2.14%, #9C1DE7 99.69%);
    --light: 300;
    --regular: 400;
    --semiBold: 600;
    --extraLight: 300;
    --italic: 300;
    --primary:#EDDCD9;
}


body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #E1E1E1;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 3px 4px 0px 1px #E99F4C !important;
    border: 2px solid #264143;
    border-radius: 20px;

}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: #264143;
}

.chatbox__description--header {
    font-size: .9rem;
    color: #264143;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
    padding-bottom: 20px;
}

.messages__item_grup {
    margin-top: 30px;
    max-width: 100%;
}
.messages__item{
    padding: 8px 12px;
    max-width: 100%;
}

.form_style {
    outline: none;
    border: 2px solid #264143;
    background: #E0E0E0; 
    box-shadow: 3px 4px 0px 1px #E99F4C;
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
    }

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: #264143;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    background: #DE5499 ;
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* margin-top: 20px; */
}

.chatbox__footer input {
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: start;
}

.chatbox__send--footer {
    color:#264143;
}

.chatbox__button img,
.chatbox__button img:focus,
.chatbox__button img:visited {
    padding: 10px;
    background: white;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.sender-area {
    background-color: #343541;
    width: 100%;
    height: 70px;
    display: flex;
    border-radius: 8px;
}

.input-place {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
background-color: #E1E1E1;
border-radius: 7px;
height: 50px;
width: 300px;
gap: 5px;
border: 2px solid #264143;
box-shadow: 3px 4px 0px 1px #E99F4C;;
border-radius: 4px;
}


.send-input {
    outline: none;
    display: flex;
    background: none;
    height: 40px;
    width: 230px;
    border-radius: 7px;
    background: none;
    color:#264143;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
}
  
.send-input::placeholder {
color: #828E9E;
}

.send {
    width: 30px;
    height: 30px;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.send-icon {
    width: 17px;
  }





    